body {
    background-color: rgb(65, 173, 209);
    color: rgb(211, 9, 9);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(99, 155, 107);
    color: rgb(230, 225, 218);
    font-family: Arial;
    margin: 0px;
}

main {
    margin: 0px;
    font-family: Arial;
}

footer {
    background-color: rgb(122, 118, 129);
    color: rgb(26, 14, 14);
    font-family: Arial;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: underline;
    color: rgb(17, 122, 167);
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
}

a:visited {
    text-decoration: underline;
    background-color: rgb(214, 111, 111);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
}

a:hover {
    text-decoration: double;
    box-shadow: 10px 10px 5px #002;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(17, 227, 28);
}

a:active{
    color: black;
    opacity: 0.3;
}